body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1635070041409-e63e783ce3c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1379&q=80");
}
.main {
  margin: 100px 0 0 0;
  width: 300px;
  border: 10px solid #d4af37;
  border-radius: 5px;
}

.display {
  border: 2px solid #d4af37;
  font-size: 30px;
  height: fit-content;
  background-color: bisque;
  padding: 5px 0 0 5px;
}

#row1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.num, .decimal, .equals {
  padding: 10px;
  font-size: 30px;
  background-color: rgb(173, 216, 230);
  border: 1px solid #d4af37;
  border-radius: 5px;
  color: white;
  transition: opacity 0.15s;
}



.clear, .backspace {
  padding: 10px;
  font-size: 20px;
  border: 1px solid #d4af37;
  background-color: #0e6b95;
  color: white;
  transition: opacity 0.15s;
}

.operator, .equals {
  font-size: 30px;
  background-color: #c51414;
  border-radius: 5px;
  border: 1px solid #d4af37;
  color: white;
  transition: opacity 0.15s;
}

.row button:active{
/* :rgba(173, 216, 230, 0.8); */ 
opacity: 0.5;
}

